@white-dragon-bevy:registry=https://npm.pkg.github.com
@white-dragon-tools:registry=https://npm.pkg.github.com

enable-pre-post-scripts=true
ignore-workspace-root-check=true
save-exact=true
shell-emulator=true
strict-peer-dependencies=false